@import "../../../sass/helpers/mixins";
@import "../../../sass/variables/sizes";
@import "../../../sass/variables/colors";

.category-product {
}

.container {
  @include flex-layout(row, center, center, 80px);

  picture,
  .details {
    flex: 1;
  }
  picture {
    img {
      border-radius: $small-round;
    }
  }

  .details {
    @include flex-layout(column, null, null, 15px);
  }

  @include breakpoint-min(small) {
    button,
    p {
      margin: initial;
    }
  }
  @include breakpoint-max(small) {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}
