$orange: #d87d4a;
$light-orange: #d87d4a;
$white: #fff;
$text: rgba(255, 255, 255, 0.5);
$text-light: rgba(255, 255, 255, 0.75);
$gray-text: rgba(0, 0, 0, 0.5);
$gray: #f1f1f1;
$gray-dark: #d3d3d3;
$black: #191919;
$red: #cd2c2c;
$green: #38a169;

$colors: blavck $black, orange $orange, white $white, gray $text;
