$small: 0.875rem;
$heading1: 3.5rem;
$heading2: 2.5rem;
$heading3: 1.75rem;
$heading4: 1.125rem;
$text-line-height: 1.66;
$bold: 700;
$section: 65px;
$small-round: 8px;

$sizes: $heading1 "h1", $heading2 "h2", $heading3 "h3", $heading4 "h4";
